html, 
body {
    margin: 0;
    padding: 0;
}

a,
a:visited {
  color: inherit;        /* use parent text color */
  text-decoration: none; /* no underline */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:3.6875rem;
   
}


nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin-right: 20px;
    text-transform: uppercase;
    margin-left: 0px;
    padding: 0
}

nav a {
    text-decoration: none;
    color: #090909;
    
    font-size: 0.75rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    margin: auto auto;
}

.logotext {
    font-size: 0.8468rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        margin-bottom: 10px;
    padding-bottom: 10px;
}

.logoimage{
    height: 1.475rem;
    width: 1.475rem;

}

.logo a {
    display: flex;          /* put image + text in a row */
    align-items: center;    /* vertically align them */
    gap: 0.2rem;            /* space between image & text */
    text-decoration: none;  /* remove underline */
    color: inherit;         /* text uses parent color */
    margin-left: 20px;
}

.logoimage {
    height: 1.475rem;
    width: 1.475rem;
}

.logotext {
    font-size: 0.8468rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


.featured-post , .featured-article{
    width: 100%;
    height : 18.3125rem;
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
   

     display: flex;
    flex-direction: column;
     
    align-items: flex-start;     /* align text to left */
    padding: 0 1rem 1rem 1rem;               /* add some spacing from edges */

}

.featured-post {
    background-image: url("../images/laptopimage.png");
      background-size: cover; 
      justify-content: flex-end;   /* push text to bottom */
        
    color: #fefefe;
}


.featured-post h1 ,
.featured-article h1 {
    font-size: 32px;
    line-height: 1.2;
    margin: 0;
    margin-top: 5px;
}

.featured-post h2 
,.featured-article h2 { 
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 0.5rem;
    width: 90%;
   
    opacity: 90%;
}

.featured-post h2 {
 color: #FFFFFF;
}

.blogpost-img {
    display: block;
    width: 95%;
    height: 14.5rem;
    margin: 0 auto;
    margin-top: 1.875rem;
    padding-left: 6px;
    object-fit: cover;
}


.recent-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    font-family: "Source Sans 3", sans-serif;
}

.blogpost-content {
    padding-left: 1.25rem;
}

.recent-post .date {
    display: block;
    padding-top: 0;
    margin-top: 14px;
    font-size: 14.17px;

}

.recent-post h1 {
    display: block;
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 24px;
    
}

.recent-post h2 {
    margin-top: 9px;
    font-weight: 400;
    font-size: 16px;
    color: #505050;
}

.featured-article {
    margin-top: 32px;
}